body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
button,
span,
div {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
img {
  border: none;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #656565;
}
#picMoveHouse {
  border: 1px solid #ccc;
  width: 815px;
  margin: 0 auto;
  padding: 10px;
}
#picMoveHouse span {
  display: inline-block;
  background-image: url(../img/result.png);
  width: 20px;
  height: 25px;
}
#picMoveHouse button {
  background-image: url(../img/btn.png);
  background-position: 0px -40px;
  width: 120px;
  height: 30px;
  border: none;
}
#picMoveHouse p,
#picMoveHouse div {
  display: inline-block;
}
#picMoveHouse > div:nth-of-type(1) {
  position: relative;
}
#picMoveHouse > div:nth-of-type(1) span {
  background-position: 0 -25px;
  position: absolute;
  top: 6px;
}
#picMoveHouse > div:nth-of-type(1) p {
  margin-left: 20px;
}
#picMoveHouse > div:nth-of-type(2) {
  margin-left: 200px;
}
#picMoveHouse > div:nth-of-type(2) b {
  color: #FF6600;
  margin-right: 5px;
}
#picMoveHouse > div:nth-of-type(2) > b:last-child {
  color: red;
}
#picMoveHouse > p {
  color: #ccc;
  margin: 10px 0 0;
}
#picMoveHouse li {
  position: relative;
  margin-top: 10px;
  height: 30px;
}
#picMoveHouse li span {
  position: absolute;
  top: -5px;
}
